.sidenavClosed:hover {
    width: 350px !important;
    transition: translate3d(10rem, 0px,0px) !important;
    height: 100vh !important;
    background-color: #fff !important;
    position: absolute !important;
    padding-top: 3rem !important;
    z-index: 10 !important;
}

.sidenavClosed {
    width: 70px !important;
    height: 100vh !important;
    background-color: #fff !important;
    padding-top: 3rem !important;
    position: fixed !important;
}

.sideitem {
    display: block;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    overflow: hidden;
}
.linkText {
    padding-left: 16px;
}

.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: #00b900;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}